@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  /* font-family: monospace; */
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.nav, .projects, .about, .skills, .contact {
  background-color: white;
  color: black;
}

.footer {
  background-color: black;
  color: white;
}

/* NAVIGATION */

.nav {
  display: flex;
  width: 100%;
  height: 12.5vh;
  align-items: center;
  padding: 20px 100px;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0 5px 5px #0000001a;
}

.nav--dark {
  filter: drop-shadow(-10px 10px 300px #FFFFFF);
}

.nav--logo {
  margin-right: auto;
  height: 100%;
  width: auto;
}

.nav--links {
  display: flex;
}

.nav--links--dark > li > a {
  color: white;
}

.nav--link {
  list-style-type: none;
  margin-right: 50px;
  font-size: .8rem;
  font-weight: 700;
}

.nav--link > a:hover {
  color: #03F96E;
  transition: .3s all;
}

.nav--link > a {
  color: black;
  text-decoration: none;
}

.nav--link--dark > a {
  color: white;
}

.bm-item.nav--link {
  margin-right: 0;
}

.nav--dark.bm-item.nav--link > a {
  color: white;
}

.green {
  color: #03F96E;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 900;
}
/* 
.nav--link:last-of-type {
  margin-right: 0px;
} */

.mode--switch {
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  justify-content: center;
}

.mode--switch:hover {
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}



/* HERO/LANDING */

.hero {
  height: 87.5vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  z-index: 100;
}

.globe {
  /* max-width: 500px;
  max-height: 500px; */
  position: absolute;
  right: 100px;
  overflow: hidden;
  top: 50;
  bottom: 50;
  animation-name: rotateEarth;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

.globe > img {
  height: 500px;
  width: 500px;
}

@keyframes rotateEarth {
  from {
    transform: rotate(-360deg);
  } 
  to {
    transform: rotate(360deg);
  }
}

.hero--heading {
  font-size: 3.5rem;
  text-align: center;
}

.hero--btn {
  margin-top: 20px;
  padding: 20px 50px;
  border-radius: 100px;
  border: none;
  font-size: 1.5rem;
  background-color: #03F96E;
  color: black;
}

.hero--btn:hover {
  cursor: pointer;
}

.hero--btn--dark {
  color: white;
}

/* PROJECTS */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 50px 200px;
  gap: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 33.333333%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.projects--dark > .project {
  background-color: rgb(255, 255, 255);
  color: black;
}

.project--img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform .5s;
}

.project--overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project:hover .project--img {
  opacity: 0.3;
  transform: scale(1.2);
}

.project:hover .project--overlay {
  opacity: 1;
}

.project--name {
  font-size: 1.3rem;
}

.project--btn {
  margin-top: 10px;
  padding: 5px 25px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
}

.project--btn:hover {
  cursor: pointer;
}

.projects--dark > .project--btn {
  background-color: white;
  color: black;
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  height: 100vh;
  width: 100%;
}

.about--title {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.about--text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about--icons {
  margin-top: 50px;
}

.about--icon {
  margin-right: 15px;
  font-size: 3rem;
}

.about--icon:hover {
  transition: .3s all;
  color: #03F96E;
}

.icons {
  color: black;
}

.icons--dark {
  color: white;
}

/* SKILLS */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


.skills--title {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.skills--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.skill {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px 25px;
}

.skill--dark {
  border: 2px solid white;
}

/* CONTACT */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 100%;
}


.contact--title {
  font-size: 3.5rem;
  margin-bottom: 50px;
}

.contact--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.contact--name, .contact--email, .contact--message {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
}


.contact--name:focus, .contact--email:focus, .contact--message:focus {
  outline: none;
}

.contact--message {
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  padding: 10px;
}

.contact--btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}

.contact--name--dark, .contact--email--dark, .contact--message--dark, .contact--btn--dark {
  background-color: white;
  color: black;
}

.contact--name::placeholder, .contact--email::placeholder, .contact--message::placeholder {
  color: white;
}

.contact--name--dark::placeholder, .contact--email--dark::placeholder, .contact--message--dark::placeholder {
  color: black;
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100%;
}

.footer--text {
  font-size: 1.3rem;
}

.hero--dark, .nav--dark, .projects--dark, .skills--dark, .contact--dark, .about--dark {
  background-color: black;
  color: white;
}

.footer--dark {
  background-color: white;
  color: black;
}

.hidden {
  display: none;
}

.spinner {
  height: 100vh;
}

/* RESPONSIVE */

@media only screen and (max-width: 1100px) {
  .projects {
    padding: 20px;
    row-gap: 20px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .hero--wrapper {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .globe {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
  }
  
  .nav {
    padding: 20px;
  }
  
  .nav--logo {
    font-size: 1rem;
  }
  
  .hero--heading {
    font-size: 1.3rem;
  }

  .hero--btn {
    padding: 5px 25px;
    font-size: 1rem;
  }

  .about--title {
    font-size: 1.3rem;
  }

  .about {
    padding: 0 50px;
  }

  .about--text {
    font-size: 0.5rem;
  }

  .about--icon {
    font-size: 1rem;
  }

  .skills--wrapper {
    grid-template-columns: 1fr;
    font-size: 0.8rem;
  }

  .skill {
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .skills--title {
    font-size: 1.3rem;
  }

  .contact--title {
    font-size: 1.3rem;
  }

  .contact--name, .contact--email, .contact--message, .contact--btn {
    width: 60%;
    max-width: 60%;
  }

  .contact--message {
    min-width: 60%;
    max-width: 60%;
  }

  .contact--name::placeholder, .contact--email::placeholder, .contact--message::placeholder {
    font-size: 0.6rem;
  }

  .contact--btn {
    font-size: 1rem;
  }

  .footer--text {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 480px) {
  /* hide element on small screens */
  .nav--logo {
    font-size: 1rem;
  }

  .hero--heading {
    font-size: 1.3rem;
  }

  .globe {
    opacity: 0.2;
  }

  .hero--btn {
    padding: 5px 25px;
    font-size: 1rem;
  }

  .about--title {
    font-size: 1.3rem;
  }

  .about {
    padding: 0 50px;
  }

  .about--text {
    font-size: 0.5rem;
  }

  .about--icon {
    font-size: 1rem;
  }

  .projects {
    padding: 20px;
    row-gap: 20px;
    height: 100%;
    grid-template-columns: 1fr;
  }

  .skills--wrapper {
    grid-template-columns: 1fr;
    font-size: 0.8rem;
  }

  .skill {
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .skills--title {
    font-size: 1.3rem;
  }

  .contact--title {
    font-size: 1.3rem;
  }

  .contact--name, .contact--email, .contact--message, .contact--btn {
    width: 60%;
    max-width: 60%;
  }

  .contact--message {
    min-width: 60%;
    max-width: 60%;
  }

  .contact--name::placeholder, .contact--email::placeholder, .contact--message::placeholder {
    font-size: 0.6rem;
  }

  .contact--btn {
    font-size: 1rem;
  }

  .footer--text {
    font-size: 0.8rem;
  }
  }
  